body
{
  color: rgb(214, 125, 125);
  background: linear-gradient(#834747, #6067ad);
}
span
{
  font-size: 30px;
}
#camera , #result
{
  border: 2px dashed black;
  width: 350px;
  height: 300px; 
}
#result_emotion_name ,#result_emotion_name2  
{
  color: black;
}
.emotion_name
{
  font-size: 40px;
}
.emoji
{
  font-size: 100px;
}

.heading{
    font-size: 67px;
    border-radius: 1000px;
    letter-spacing: 5px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 500;
    font-style: obliqued;
    color: rgb(184, 222, 231);
}

.hello{
  font-size: 22px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 500;
  font-style: obliqued;
  color: rgb(255, 255, 255);
}

.j1{
  font-size: 18px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 500;
  font-style: obliqued;
  color: rgb(255, 255, 255);
}

.j2{
  font-size: 18px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 500;
  font-style: obliqued;
  color: rgb(255, 255, 255);
}

.ps{
  font-size: 20px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 500;
  font-style:italic;
  color: rgb(0, 0, 0);
}

.BtN{
  font-size: 21px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 500;
  font-style: obliqued;
  color: rgb(255, 255, 255);
  border-radius: 100px;
  border-width: 5px;
  border-color: rgb(59, 156, 112);
}

.rt{
  font-size: 20px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 500;
  font-style:italic;
  color: rgb(0, 0, 0);
}

.lols{
  font-size: 2px;
  border-radius: 1000px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 500;
  font-style: obliqued;
  color: rgb(184, 222, 231);
}


.tops{
  font-size: 20px;
  border-radius: 1000px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 500;
  font-style: obliqued;
  color: rgb(184, 222, 231);
}
